= simple_form_for @activity, :html => { :class => 'form-horizontal' } do |f|
  = f.association :category, label: "What:", required: false
  = f.input :activity_time, required: false
  = f.input :description, as: :string, required: false#, input_html: { name: 'activity[descriptions][]' }
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), activities_path, :class => 'btn'
    - if @activity.persisted?
      = link_to 'Delete', activity_path(@activity), method: :delete, class: 'btn btn-danger', confirm: "Are you sure you want to delete entry?"

= content_for :javascript do
  -#:javascript
    $(function(){
      $("#activity_activity_time").datepicker({"dateFormat": "dd/mm/yy"})
    })
