.span6
  .page-header
    %h1
      Food tracker
      %small.pull-right= link_to "ADD", new_activity_path, :class => 'btn btn-large btn-primary'

  - if collection.any?
    .activities.well
      - collection.each do |date, categories|
        .activity
          %hr
          .row.show-grid
            .span3
              %h3= date.strftime("%A")
            .span3.date
              %span.label.label-info.pull-right= date.strftime("%e %b %Y")
          %hr
          .row
            - categories.each do |category_id, items|
              - category = Category.find(category_id)
              - if category.is_weight?
                %dl.dl-horizontal
                  %dt= category.name
                  %dd
                    = items.last[1]
                    = link_to "edit", edit_activity_path(items.last[0]), class: 'edit'

              - else
                %dl
                  %dt= category.name
                  %dd
                    %ul.unstyled
                      - items.each do |id, description|
                        %li
                          = description
                          = link_to "edit", edit_activity_path(id), class: 'edit'
  - else
    No activities yet.
    = link_to "Add activity", new_activity_path
