.span6
  .page-header
    %h1
      Food tracker
      %small.pull-right= link_to "ADD", new_activity_path, :class => 'btn btn-large btn-primary'

  .activities.well
    - collection.each do |date, categories|
      .activity
        %hr
        .row.show-grid
          .span3
            %h3= Date.parse(date).strftime("%A")
          .span3.date
            %span.label.label-info.pull-right=Date.parse(date).strftime("%e %b %Y")
        %hr
        .row
          - categories.each do |category_id, items|
            - category = Category.find(category_id)
            - if category.is_weight?
              %dl.dl-horizontal
                %dt= category.name
                %dd= items.first

            - else
              %dl
                %dt= category.name
                %dd
                  %ul.unstyled
                    - items.each do |item|
                      %li= item

-#
-#%table.table.table-striped
-#  %thead
-#    %tr
-#      %th= model_class.human_attribute_name(:id)
-#      %th= model_class.human_attribute_name(:user_id)
-#      %th= model_class.human_attribute_name(:category_id)
-#      %th= model_class.human_attribute_name(:description)
-#      %th= model_class.human_attribute_name(:created_at)
-#      %th=t '.actions', :default => t("helpers.actions")
-#  %tbody
-#    - @activities.each do |activity|
-#      %tr
-#        %td= link_to activity.id, activity_path(activity)
-#        %td= activity.user_id
-#        %td= activity.category_id
-#        %td= activity.description
-#        %td=l activity.created_at
-#        %td
-#          = link_to t('.edit', :default => t("helpers.links.edit")), edit_activity_path(activity), :class => 'btn btn-mini'
-#          = link_to t('.destroy', :default => t("helpers.links.destroy")), activity_path(activity), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'
-#
-#
